.Cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;


    h1{
        text-align: center;
    }

    p{
        max-width: 34ch;
        text-align: justify;
    }

}
