.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;


    .hero{
        max-width: 200px;
        border-radius: 90%;
    }


    span{
        display: flex;
        gap: 20px;
        justify-content: center;
    
        a {
            margin: 0;
    
            img{
                width: 40px;
            }
        }
    
    
    }

    a {
        width: fit-content;
        align-self: center;
    }


    button{
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: 2px solid rgba(29, 28, 28, 0.699);
        border-radius: 20px;
        width: 150px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }
    button:hover{
        transform: scale(1.06);
    }
    button:active{
        transform: translateY(2px);
        box-shadow: 0 2px 2px rgba(0,0,0, 0.25)
    }


}

.colorModeCont{
    position: relative;
}

.themeMode{
    position: absolute;
    width: 35px;
}

.themeMode:hover{
    cursor: pointer;
}

.description{
    max-width: 34ch;
    font-size: 28px;
    font-family: 'Caveat', serif;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


@media (width >=800px){
    .container{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;

        .hero{
            max-width: 250px;
            width: 250px;
        }
    }
}

@media (width >=1400px){
        .hero{
            max-width: 400px;
            width: 400px;
        }
    }



